.body {
}

.title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 2rem;
}

.author {
  font-size: 1.25rem;
  font-weight: 500;
}

.des {
  font-size: 1.01rem;
}

.image {
  float: right;
  height: 25rem;
  width: auto;
}


